// ================ 01. BASIC STYLE ================

.callout {

  // دوران آیکون <
  &.is-collapsed > .callout-title > .fold-callout-icon {
    transform: rotateZ(90deg);
  }

  // کالتوت های جدید
  &[data-callout="quote"],
  &[data-callout="poem"] {
    --color: var(--dark);
    --border: var(--gray);
    --bg: #8d8d8d1e;
  }
  
  &[data-callout="poem"] {
    text-align: center;
  }

  &[data-callout^="en"],
  &[data-callout^="gray"] {
    --color: var(--darkgray);
    --border: var(--gray);
    --bg: #8d8d8d1e;
  }

  &[data-callout^="en"] {
    direction: ltr;
  }

  &[data-callout^="empty"] {
    --color: var(--darkgray);
    --border: var(--gray);
    --bg: transparent;
  }

  &[data-callout^="yellow"] {
    --color: #e2941e;
    --border: #e2b11f5e;
    --bg: #ffc8220a;
  }

  &[data-callout^="orange"] {
    --color: #e7842e;
    --border: #e68d3f56;
    --bg: #db89420c;
  }  
  
  &[data-callout^="red"] {
    --color: #f55c4b;
    --border: #ff776856;
    --bg: #ff85770e;
  }

  &[data-callout^="blue"] {
    --color: #468ee5;
    --border: #468ee565;
    --bg: #468ee50c;
  }

  &[data-callout^="green"] {
    --color: #21ad1e;
    --border: #0281003b;
    --bg: #1a8d1809;
  }  

  &[data-callout^="purple"] {
    --color: #805de7;
    --border: #805de777;
    --bg: #805de709;
  } 
  
  &[data-callout^="brown"] {
    --color: #b38247;
    --border: #b382476b;
    --bg: #b382470a;
  }  

  //  مخفی کردن آیکون‌
  &:is(.empty, .gray, .yellow, .orange, .blue, .green, .purple, .brown, .red, .poem, .en) {
    .callout-icon {
      display: none;
    }
  }

  // مخفی کردن عنوان و تنظیم فاصله برای سری0
  &:is(.empty0, .gray0, .yellow0, .orange0, .blue0, .green0, .purple0, .brown0, .red0, .poem, .en0) {
    .callout-title {
      display: none;
    }
    > .callout-content {
      padding-top: 1rem;
    }
  }
}

// بولد کردن متن تمام عنوان‌ها
.callout-title > .callout-title-inner > p {
  font-weight: 600;
}





// ================ 02. GRID LAYOUTS ================

.callout[data-callout^="grid"] {
    background-color: transparent;
    padding: 0 !important;
    --border: transparent;
    
    & .callout-content {
        display: grid;
        gap: 20px;
        justify-items: center;

        > p:empty {
            display: none;
        }
    }

    & .callout-title {
        display: none;
    }
}

.callout[data-callout="grid-16-9"] .callout-content img {
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.callout[data-callout="grid-1-1"] .callout-content img {
    aspect-ratio: 1;
    object-fit: cover;
}

.callout[data-callout="grid-4-3"] .callout-content img {
    aspect-ratio: 4 / 3;
    object-fit: cover;
}

.callout[data-callout="grid-3-4"] .callout-content img {
    aspect-ratio: 3 / 4;
    object-fit: cover;
}

.callout[data-callout^="grid"] .callout-content {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.callout[data-callout="grid3"] .callout-content {
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 480px) {
    .callout[data-callout^="grid"] .callout-content {
        grid-template-columns: repeat(1, 1fr);
    }
    
    .callout[data-callout="grid3"] .callout-content {
      grid-template-columns: 1fr;
  }
}

// ================ 03. IMGAGES CAPTION  ================

.callout[data-callout="figure"] {
    background-color: transparent;
    padding: 0 !important;
    --border: transparent;
    text-align: center;
    margin: 0;

    & .callout-content {
        display: flex;
        flex-direction: column;
        > p:empty {
            display: none;
        }
    }

    & .callout-title {
        display: none;
    }
}