// ================ 01. BODY & BACKGROUND ================

body::before {
    content: "";
    pointer-events: none;
    opacity: var(--grain-opacity);
    z-index: -99;
    background-image: url(/static/grain.webp);
    background-repeat: repeat;
    position: fixed;
    inset: 0;
}

body {
    background: var(--background);
}

// ================ 02. NAVBAR & HEADER ================


// ---------- 2.1 GROUP COMPONENTS ----------

.page>#quartz-body {
    gap: 2rem;
}

.page[data-frame="default"] {
    position: relative; 
    padding-top: 9rem; 
}

@media (max-width: 800px) {
    .page[data-frame="default"] {
        padding-top: 7rem; 
    }
    .page>#quartz-body {
        gap: 1rem;
    }
}
  
div.flex-component:has(.page-title) {
    position: absolute;
    top: 2rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    max-width: var(--content-width, 800px); 
    z-index: 1;
    display: flex;
    gap: 1rem !important;
    justify-content: space-between !important;
    align-items: center;
    box-sizing: border-box;
    padding: 1.2rem;
    border-radius: 0.5rem;
    background: var(--on-background);
    border: solid 1px var(--lightgray);
}

.flex-component:has(.page-title) > div:nth-child(2) {
    margin-right: auto;
}
  
div.flex-component:has(.page-title) > div {
    flex-grow: 0 !important;
    flex-basis: auto !important;
}
  
// div.flex-component:has(.page-title) > div:nth-child(2) {
//     margin-right: auto; 
//     margin-left: 1rem;
// }

// ---------- 2.2 PAGE TITLE ----------

.page-title {
    position: relative;
    border-bottom: none;
    font-size: 1.3rem;
    font-family: var(--headerFont);
    margin: 0 !important;

    a:first-child {
        font-weight: 900;
        color: var(--dark) !important;

    &:hover {
        color: var(--secondary) !important;
    }

    &::before {
        content: "";
        display: inline-block;
        width: 1.8em;
        height: 1.8em;
        margin-left: 0.3rem;
        vertical-align: middle;
        background-image: url("/static/avatar.webp");
        background-size: cover;
        background-repeat: no-repeat;
        // background-color: var(--secondary);
        border-radius: 5px;
    }
    &:hover::before {
        filter: brightness(110%);
    }
    }
}

@media (max-width: 1510px) {
    .page-title {
        font-size: 1.2rem;
        margin-right: 0;
    }
}

// ---------- 2.3 SEARCH ----------

    .search>.search-button>p {      
        display: none;
    }

.search>.search-button {
    padding: 0;
}

.search>.search-button>p {
    padding-left: 0.6rem;
}

// ---------- 2.4 DARKMODE TOGGLE ----------

.darkmode {
    vertical-align: middle;
}

// ---------- 2.5 Reader Mode ----------

.readermode {
    vertical-align: middle;
}

// ================ 03. CENTER & CONTENT AREA ================

// ---------- 3.1 PAGE TOP ----------
.page-top {
    background: var(--on-background);
    border: solid var(--lightgray);
    border-width: 1px;
    border-radius: 0.5rem;
    padding: 1.5rem;
    box-sizing: border-box;
}

@media (max-width: 800px) {
    .page>#quartz-body .page-top {
        margin-top: 1rem !important;
        padding: 1rem !important;
    }
}

.page-header {
    margin-top: 0rem !important;
}

.article-title {
    margin: 1rem 0;
}

@media not (min-width: 1200px) {
    .page>#quartz-body {
        padding: 0 0.3rem;
    }
}

// ---------- 3.2 FOOTNOTES ----------

.footnotes {
    border-top: none;
    margin: 3rem 0;
    background-color: transparent;
}

h2#footnote-label{
    visibility: hidden;
}

h2#footnote-label::after{
    content: "پانوشت‌ها";
    visibility: visible;
    display: block;
    direction: rtl !important;
    font-size: 1.4rem;
    border-bottom: 1px solid var(--lightgray);     
    color: var(--darkgray);             
}

// ================ 04. AFTER BODY ================

// ---------- 4.1 Backlinks ----------
div.backlinks {
    border: solid 1px var(--lightgray);
    border-radius: 0.5rem;
    padding: 1.5rem;
    box-sizing: border-box;
    background: var(--on-background);
    margin-top: 3rem;
}

// ---------- 4.2 Tag List -----------
div.page-footer ul.tags {
    border: solid 1px var(--lightgray);
    border-radius: 0.5rem;
    padding: 1.5rem;
    box-sizing: border-box;
    background: var(--on-background);
    margin-top: 3rem;
}

div.page-footer ul.tags::before {
    content: "برچسب‌ها:";
    display: block;
    font-size: 1.4rem;
    font-weight: 700;
}

// ---------- 4.3 Standalone Comments ----------
.post-comment {
    border: solid 1px var(--lightgray);
    border-radius: 0.5rem;
    padding: 1.5rem;
    box-sizing: border-box;
    background: var(--on-background);
    margin-top: 3rem;
}

// ================ 05. SIDEBAR ================

.sidebar {
    padding: 0 !important;
}

@media (max-width: 1510px) {


    .page>#quartz-body .sidebar.right {
        flex-direction: column;
    }
}

// ---------- 5.1 TABLE OF CONTENTS ----------

.toc {
    border-radius: 5px;
    border: 1px solid var(--lightgray);
    background: var(--on-background);
    padding: 1.2rem 1.2rem 1.2rem 0.4rem; 
    font-size: 0.9rem;
}

.toc-header h3 {
    font-size: 1rem;
    margin-top: 0;
}

.depth-1 {
    border-right: solid 1px var(--lightgray);
    padding-right: 1rem;
}

button.toc-header.collapsed .fold {
    transform: rotate(90deg)
}

@media (max-width: 1510px) {
    .mobile-only.toc {
        display: block;
    }
}

ul.toc-content::-webkit-scrollbar {
  width: 6px;
}

ul.toc-content::-webkit-scrollbar-track {
  background: transparent; 
}

ul.toc-content::-webkit-scrollbar-thumb {
  background-color: var(--gray, #ccc); 
  border-radius: 10px;
}

// ---------- 5.2. EXPLORER ----------

@media (min-width: 800px) {
    .explorer {
        border-radius: 5px;
        border: 1px solid var(--lightgray);
        background: var(--on-background);
        padding: 12px; 
        font-size: 0.9rem;
    }
}

@media (max-width: 800px) {
    .explorer {
        direction: ltr;
    }
}

// ---------- 5.3 GRAPH VIEW ----------

.graph-outer {
    background: var(--on-background);
    margin: 0 !important;
}

.graph > h3 {
    display: none;
}

@media (max-width: 800px) {
    .graph {
        margin-top: 3rem !important;
    }
}

// ---------- 5.4 RECENT NOTES ----------

.recent-notes {
    border-radius: 5px;
    border: 1px solid var(--lightgray);
    background: var(--on-background);
    padding: 12px; 
}

.recent-notes>ul.recent-ul {
    margin-right: -2.5rem;
}

.recent-notes .desc h3 {
    font-size: 1rem;
}

.recent-notes .section {
    font-size: 1rem;
}

li.recent-li > div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 0.5rem;
}

.recent-notes>ul.recent-ul>li {
    margin: 0;
}

.recent-notes>ul.recent-ul>li .section>.meta {
    white-space: nowrap;
}

// ---------- 5.5 RECENT COMMENTS ----------

.recent-comments-widget {
    border: solid 1px var(--lightgray);
    box-sizing: border-box;
    background: var(--on-background);
    border-radius: .5rem;
    padding: 1rem;
    overflow: hidden;
    min-height: 32rem;
}

#recent-comments-title {
    margin-top: 0.5 !important;
    font-size: 1.2rem !important;
}

.rc-widget-item {
    background: #8787871a !important;
}

// ================ 06. FOOTER ================

footer {
    border: solid 1px var(--lightgray);
    border-radius: 0.5rem;
    padding: 0.3rem 1rem;
    box-sizing: border-box;
    background: var(--on-background);
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    opacity: 1;

    p {
        font-size: 1rem;
    }

    ul {
        justify-content: center;
        gap: 0.5em;
    }
}

// ================ 07. TAGS PAGES ================

div.page-listing ul.section-ul {
    margin-right: -2.5rem;
}

li.section-li>.section .meta {
    margin: 0 0em 0 1em;
}




